body {
    background: linear-gradient(236.85deg, #0057da 27.26%, #8dbaff 96.03%);
    font-family: 'Gemunu Libre', sans-serif;
}

.countainer {
    background: #ECF4ff;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 4px #4b535e;
    padding: 64px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.perfil {
    background: linear-gradient(236.85deg, #0057da 27.26%, #8dbaff 96.03%);
    display: flex;
    margin-top: 32px;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 4px rgba(16, 16, 16, 0.42);
}

.perfil-foto {
    border-radius: 460px;
    max-height: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
    margin-left: 20px ;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px ;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px ;
}

.tema button {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 16px;
    background: #ECF4ff;
    border-radius: 100px;
    border: 2px solid #1C1C1C

}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(230.65deg, #2d8cf8 27.49%, #c0dcff 83.19%);
    margin-top: 32px;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 4px rgba(16, 16, 16, 0.42);
}

.projetos-titulo {
    list-style: none;
    font-weight: 700;
    font-size: 36px;

}

.projetos-item {
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
}

.projetos-item a {
    color: #1C1C1C;
    text-decoration: none;
}

.dark {
    background: linear-gradient(236.85deg, #375886 27.27%, #6887a9 96.03%);

}

.dark .countainer  {
    background: #333439;
    color: #f6f6f6;
}

.dark .perfil {
    background: linear-gradient(236.85deg, #375886 27.27%, #6887a9 96.03%);
}

.dark .projetos {
    color: #1c1c1c
}

.dark .tema button {
    background: #1C1C1C;
    color: #f6f6f6;
    border: 2px solid #F7F7F7
}
